.body-account,
.container-table {
  font-size: 1.8rem;
}
.submit-1,
.table-btn {
  background-color: green;
}
.acc-name,
.header-account {
  display: flex;
}
.avt-img {
  height: 70px;
  width: 70px;
  border-radius: 50px;
}
.head-acc-name {
  padding-left: 10px;
  padding-top: 10px;
}
.row-sp,
.row-tbl {
  padding-left: 30px;
}
.head-acc-name > h4 {
  font-size: 1.8rem;
  font-weight: 700;
}
.head-acc-name > p {
  font-size: 1.5rem;
  color: #bdbdbd;
}
.input-acc {
  border: none;
}
.body-account {
  margin-top: 15px;
}
.row-tbl {
  margin-bottom: 30px;
}
@media (max-width: 750px) and (min-width: 375px) {
  .table-container {
    margin-left: -35px;
  }
  .col-bttom {
    margin-bottom: 30px;
  }
}
.acc-name > th > input {
  width: 100%;
}
.container {
  margin-top: 43px;
}
.container-table tr {
  width: 100px;
  height: 50px;
  text-align: center;
}
.container-table th {
  border: 1px solid;
}
.container-table td {
  border: 1px solid;
  width: 100px;
  height: 80px;
}
.submit-1 {
  color: #fff;
  border-radius: 15px;
  width: 100px;
  height: 30px;
  margin-left: 80px;
}
.table-container-infor {
  margin-left: 30px;
  margin-top: 10px;
  font-size: 2rem;
}
